{% extends 'base.html' %}

{% block head %}

<script type="text/javascript">
var main_copy = "";
$(document).ready(function (){
	main_copy = $('#main_section_copy').html();
	$('.main_hover').hover(function (){
		var multiplier = parseInt($(this).children('span').attr('title'));
		multiplier = multiplier * 300;
		$('#main_section_image').css({'background-position': '0 ' + multiplier + 'px' });
		$('#main_section_copy').html($(this).children('span').html());
		$('#main_section_copy').removeClass('larger');
		$('#main_section_copy').addClass('smaller');



	}, function (){
		$('#main_section_image').css({'background-position': '0 0'});
		$('#main_section_copy').html(main_copy);
		$('#main_section_copy').removeClass('smaller');
		$('#main_section_copy').addClass('larger');



	});
	

});


</script>

{% endblock %}

{% block main %}
<div id="main_section_wrap">
	<div id="main_section" class="container_12">
		<div class="grid_6">
			<h1>Tahoe-LAFS</h1>
				<div id="main_block">
					<span id="main_section_copy" class="larger">Open, distributed, and secure cloud storage system.</span>
				</div>
		</div>
		<div class="grid_6">
			<div id="main_section_image">
				<div class="main_hover" title="Open"><span title="4">Tahoe-LAFS is a Free Software/Open Source storage technology.</span></div>
				<div class="main_hover" title="Distributed"><span title="3">Your data is distributed across multiple servers. Even if some of the servers fail or are taken over by an attacker, the entire filesystem continues to function correctly.</span></div>
				<div class="main_hover" title="Secure"><span title="2">Your data is encrypted and the service provider never has the ability to read or modify your data.</span></div>
				<div class="main_hover" title="Everywhere"><span title="1">Your data is accessible from many clients, including the web browser, command line, Javascript frontends, Windows virtual drive, Tahoe backup tool, Duplicity, and (S)FTP clients.</span></div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="grid_6">
	<h2>News</h2>
	 <p><b>2011-08-07</b> -- <a href="http://tahoe-lafs.org/~zooko/TWN10.html">TWN #10</a> is released</p> 
					<p><b>2011-07-24</b> -- <a href="http://tahoe-lafs.org/pipermail/tahoe-dev/2011-July/006572.html">The pubgrid is no longer available</a></p> 
					<p><b>2011-06-27</b> -- <b>The Tahoe-LAFS Summit, June 27 - 30, San Francisco</b>: Come socialize, share ideas, and hack on code!  See <a href="http://tahoe-lafs.org/trac/tahoe-lafs/wiki/Summit">the Summit Page</a> 
					<p><b>2011-01-30</b> -- <a href="http://tahoe-lafs.org/pipermail/tahoe-dev/2011-January/006012.html">v1.8.2</a> Released! Now compatible with Twisted-10.2.
					<p><b>2010-12-14</b> -- <a href="http://www.eff.org/deeplinks/2010/12/constructive-direct-action-against-censorship">EFF post</a> Interesting mention in summary of useful tools when dealing with censorship.
			<p><b>2010-11-28</b> -- <a href="http://tahoe-lafs.org/pipermail/tahoe-dev/2010-November/005674.html">v1.8.1</a> Released! Several bugfixes, including a security fix and a performance improvement.
					<p><b>2010-05-25</b> -- Zooko presented Tahoe-LAFS at <a href="http://2010.confidence.org.pl/lang-pref/en/">CONfidence 2010</a> in Kraków, Poland</p> 


</div>
<div class="grid_5 prefix_1">
	<h2>Volunteers</h2>
	<div id="volunteers_imgs">
		<img src="{{ STATIC_URL }}img/photos/zooko.png" />
		<img src="{{ STATIC_URL }}img/photos/warner.png" />
		<img src="{{ STATIC_URL }}img/photos/davidsarah.png" />
		<img src="{{ STATIC_URL }}img/photos/secor.png" />
		<img src="{{ STATIC_URL }}img/photos/francois.png" />
		<img src="{{ STATIC_URL }}img/photos/frederic.png" />
		<img src="{{ STATIC_URL }}img/photos/tooley.png" />
		<img src="{{ STATIC_URL }}img/photos/kevan.png" />
		<img src="{{ STATIC_URL }}img/photos/marlowe.png" />
	</div>
</div>
<div class="clear"></div>
<div class="grid_6">
	<h2>Get Started</h2>

	<p><a href="http://tahoe-lafs.org/trac/tahoe-lafs/wiki/TestGrid">Try Tahoe-LAFS on the web!</a></p>
	<p> Use <i><a href="http://tahoe-lafs.org/trac/tahoe-lafs/browser/trunk/docs/quickstart.rst?rev=5049"> the quickstart instructions</a></i> to download and run Tahoe-LAFS on your own computer.</p>
	<p> Go to <a href="http://tahoe-lafs.org/trac/tahoe-lafs/wiki/Dev">the Dev page</a> to <i>get source code</i>, and start hacking on Tahoe-LAFS.</p> 

</div>
<div class="grid_5 prefix_1">
	<h2>Read The Docs</h2>
	<p><a href="http://tahoe-lafs.org/trac/tahoe-lafs/wiki/Doc">The Doc page</a></p>
	<p><a href="http://tahoe-lafs.org/~zooko/lafs.pdf">Tahoe – The Least-Authority File System</a> (<em>the</em> introduction to Tahoe-LAFS for discriminating hackers)</p>
	<p><a href="http://tahoe-lafs.org/trac/tahoe-lafs/wiki/FAQ">Frequently Asked Questions</a></p>
</div>
<div class="clear"></div>

<div class="grid_6">
	<h2>Get Involved</h2>
	<p><a href="http://tahoe-lafs.org/cgi-bin/mailman/listinfo/tahoe-dev">The tahoe-dev mailing list</a> is the community forum.</p>
	<p><a href="http://tahoe-lafs.org/cgi-bin/mailman/listinfo/tahoe-announce">The tahoe-announce mailing list</a> is a low-volume mailing list for announcements. Every few months we announce a new release. If we find a secure flaw which threatens your data we'll announce that here, too.</p>
	<p><a href="http://tahoe-lafs.org/trac/tahoe-lafs/wiki/TahoeLAFSWeeklyNews">The Tahoe-LAFS Weekly News</a> is the community newsletter.</p>
 
</div>
<div class="grid_5 prefix_1">
	<h2>Donate</h2>
	<p>You can donate to the Tahoe-LAFS project:</p>
	<table> 
	  <tr> 
		<td>Bitcoin:</td>
		<td> <a href="http://tahoe-lafs.org/trac/tahoe-lafs/wiki/BitCoinPage"><img src="http://tahoe-lafs.org/~zooko/bitcoin.png" /></a></td> 
	  <tr>
		  <td>Flattr: </td>
		  <td><a href="http://flattr.com/thing/48658/Tahoe-LAFS-Open-source-secure-storage-software" target="_blank"> 
				<img src="http://api.flattr.com/button/button-static-50x60.png" alt="Flattr this" title="Flattr this" border="0" /></a></td> 
	  </tr>
	  <tr>
		  <td>PayPal:</td>
		  <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"> 
			<input type="hidden" name="cmd" value="_s-xclick" /> 
			<input type="hidden" name="hosted_button_id" value="EBYATPQDCRDJ6" /> 
			<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" /> 
			<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" /> 
	  </form> 
		</td>
		</tr> 
	</table> 

</div>
<div class="clear"></div>



{% endblock %}
