{% extends 'base.html' %}

{% block main %}
<div id="main_section_wrap">
	<div id="main_section" class="container_12">
		<div class="grid_6">
			<h1>Tahoe-LAFS</h1>
			<div class="grid_4">
				<div id="main_block">
					<span>Open, distributed, and secure cloud storage system.</span>
				</div>
			</div>
		</div>
		<div class="grid_6">
			<img src="{{ STATIC_URL }}img/test-main-gloss.png" />
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

<div class="grid_6">
	<h2>News</h2>
	 <p><b>2011-08-07</b> -- <a href="http://tahoe-lafs.org/~zooko/TWN10.html">TWN #10</a> is released</p> 
					<p><b>2011-07-24</b> -- <a href="http://tahoe-lafs.org/pipermail/tahoe-dev/2011-July/006572.html">The pubgrid is no longer available</a></p> 
					<p><b>2011-06-27</b> -- <b>The Tahoe-LAFS Summit, June 27 - 30, San Francisco</b>: Come socialize, share ideas, and hack on code!  See <a href="http://tahoe-lafs.org/trac/tahoe-lafs/wiki/Summit">the Summit Page</a> 
					<p><b>2011-01-30</b> -- <a href="http://tahoe-lafs.org/pipermail/tahoe-dev/2011-January/006012.html">v1.8.2</a> Released! Now compatible with Twisted-10.2.
					<p><b>2010-12-14</b> -- <a href="http://www.eff.org/deeplinks/2010/12/constructive-direct-action-against-censorship">EFF post</a> Interesting mention in summary of useful tools when dealing with censorship.
			<p><b>2010-11-28</b> -- <a href="http://tahoe-lafs.org/pipermail/tahoe-dev/2010-November/005674.html">v1.8.1</a> Released! Several bugfixes, including a security fix and a performance improvement.
					<p><b>2010-05-25</b> -- Zooko presented Tahoe-LAFS at <a href="http://2010.confidence.org.pl/lang-pref/en/">CONfidence 2010</a> in Kraków, Poland</p> 


</div>
<div class="grid_6">
	<h2>Volunteers</h2>
</div>
<div class="clear"></div>
<div class="grid_6">
	<h2>Get Started</h2>
</div>
<div class="grid_6">
	<h2>Read The Docs</h2>
</div>
<div class="clear"></div>

<div class="grid_6">
	<h2>Get Involved</h2>
</div>
<div class="grid_6">
	<h2>Donate</h2>
</div>
<div class="clear"></div>



{% endblock %}
